
.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 120%;
	color: var(--title-color);
	font-size: 1.75rem;

	@include _550 {
		font-size: 2rem;
	}

	@include _768 {
		font-size: 2.5rem;
		line-height: 130%;
	}

	@include _992 {
		font-size: 3rem;
	}

	& mark {
		color: #1F9CB3;
		background: transparent;
	}
}

.title {
	
	font-family: var(--title-font);
	font-weight: 700;

	font-size: 1.5rem;
	line-height: 160%;
	text-transform: uppercase;

	@include _992 {
		font-size: 1.75rem;
	}

}

.section-title {

	font-family: var(--title-font);
	font-weight: 700;
	font-size: 1.5rem;
	&._min {
		font-size: 1.375rem;
		text-transform: none;
	}
	line-height: 120%;
	
	color: var(--title-color);
	text-align: center;
	text-transform: uppercase;

	& .decor-section-title {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			right: 0; top: 0;
			width: 100px; height: 100px;
			@include _768 {
				width: 150px; height: 150px;
			}
			transform: translate(50%,-60%);
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 167 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M61.5102 26.8887C61.2004 28.79 60.8823 30.6892 60.5136 32.5832C60.3299 33.5889 60.1336 34.5974 60.0181 35.6118C59.4072 41.0266 58.8604 46.4522 58.118 51.8529C57.6454 55.1757 57.1383 58.4936 56.5967 61.8068L55.7692 66.7737L54.8863 71.7311C54.6815 72.7296 54.3971 73.7102 54.0357 74.6634C53.9052 75.0603 53.6822 75.4205 53.385 75.7142C53.0879 76.008 52.7252 76.2268 52.3268 76.3527C51.2308 76.7258 50.2616 75.9813 50.2373 74.6025C50.2433 73.7053 50.3616 72.8124 50.5894 71.9446C51.0702 69.9579 51.4645 67.9587 51.7723 65.9468C52.0873 63.936 52.32 61.9126 52.4704 59.8767C52.5545 58.753 52.5765 57.5737 52.891 56.5183C53.8915 53.1455 54.1499 49.6312 54.8679 46.2057C55.4 43.6592 55.7402 41.0695 56.1959 38.505L57.4088 31.6435C57.8 29.3544 58.2487 27.0727 58.6472 24.7833C58.8276 23.8959 59.0663 23.0214 59.3616 22.1654C59.661 21.3628 60.0047 20.5775 60.391 19.813C60.7312 19.136 61.2187 19.245 61.3575 20.0999C61.5538 21.3267 61.6642 22.5657 61.6879 23.8079C61.6982 24.318 61.6791 24.8311 61.6384 25.3432C61.5769 25.8525 61.5152 26.3637 61.4537 26.8718L61.5102 26.8887Z' fill='%23FF822E'/%3E%3Cpath d='M112.458 49.5952L110.999 51.5816L109.49 53.535C108.958 54.2271 108.423 54.9225 107.953 55.6565C107.323 56.6342 106.704 57.6198 106.09 58.6078L104.232 61.5594L100.529 67.4684L95.9514 74.7325L91.4133 82.0225C90.9333 82.7483 90.4019 83.4387 89.8231 84.0884C89.5968 84.3644 89.3091 84.5838 88.9829 84.7289C88.6568 84.8741 88.3012 84.941 87.9446 84.9243C86.9597 84.8995 86.4169 84.0198 86.8132 82.8975C87.0864 82.1737 87.4518 81.4881 87.9002 80.8576C89.8794 77.9545 91.6732 74.9291 93.2709 71.7998C93.6614 70.905 94.1526 70.0576 94.7349 69.2739C96.6797 66.9468 98.1095 64.2682 99.9035 61.8415C101.237 60.0403 102.444 58.1408 103.771 56.3307C106.15 53.1117 108.559 49.9184 111.083 46.8137C112.029 45.6247 113.165 44.6003 114.445 43.7819C114.998 43.4266 115.381 43.7577 115.128 44.4521C114.758 45.4439 114.324 46.4103 113.827 47.3453C113.402 48.1104 112.933 48.8496 112.42 49.559L112.458 49.5952Z' fill='%23FF822E'/%3E%3Cpath d='M140.201 94.1582C138.866 94.6521 137.528 95.1402 136.186 95.6226C135.463 95.848 134.755 96.1162 134.063 96.4258C132.241 97.2896 130.438 98.1941 128.635 99.0982C126.832 99.9999 125.025 100.889 123.204 101.749C120.965 102.812 118.715 103.852 116.468 104.896L109.708 107.993C109.004 108.283 108.267 108.486 107.514 108.597C106.794 108.73 106.102 108.343 105.48 107.701C104.574 106.766 104.383 105.397 105.163 104.682C105.675 104.241 106.273 103.911 106.919 103.713C109.806 102.719 112.565 101.388 115.14 99.7476C115.856 99.2953 116.574 98.762 117.391 98.5894C119.996 98.0283 122.262 96.6698 124.75 95.8424C126.595 95.2218 128.376 94.4295 130.209 93.7739C131.843 93.1892 133.481 92.6172 135.123 92.0581L140.087 90.4808C141.379 90.0623 142.753 89.9586 144.094 90.1781C144.231 90.1921 144.36 90.2467 144.466 90.3347C144.571 90.4228 144.648 90.5404 144.686 90.6725C144.725 90.8045 144.722 90.9449 144.68 91.0758C144.638 91.2066 144.558 91.3219 144.45 91.4068C143.745 92.019 143.005 92.5888 142.233 93.1132C141.575 93.4908 140.89 93.8193 140.183 94.0959L140.201 94.1582Z' fill='%23FF822E'/%3E%3Cpath d='M128.446 135.107C128.065 135.074 127.683 135.055 127.304 135L126.166 134.828C125.765 134.757 125.359 134.72 124.952 134.717C123.866 134.748 122.778 134.82 121.694 134.832C120.609 134.856 119.525 134.874 118.442 134.852C117.109 134.827 115.778 134.779 114.449 134.687L110.461 134.41C110.046 134.352 109.645 134.216 109.28 134.011C108.91 133.831 108.699 133.279 108.591 132.568C108.434 131.532 108.726 130.453 109.281 130.229C109.625 130.104 110 130.092 110.352 130.194C111.946 130.573 113.599 130.633 115.215 130.37C115.668 130.3 116.143 130.157 116.568 130.335C117.925 130.889 119.338 130.705 120.715 130.986C121.737 131.203 122.78 131.203 123.806 131.389C125.638 131.712 127.472 131.991 129.3 132.376C130.058 132.524 130.752 132.904 131.285 133.463C131.349 133.533 131.398 133.616 131.426 133.706C131.455 133.797 131.464 133.892 131.451 133.986C131.439 134.08 131.407 134.171 131.356 134.251C131.305 134.331 131.238 134.399 131.158 134.45C130.917 134.561 130.671 134.664 130.423 134.757C130.181 134.854 129.932 134.929 129.678 134.983C129.272 135.045 128.862 135.068 128.453 135.055L128.446 135.107Z' fill='%23FF822E'/%3E%3Cpath d='M12.1339 58.0033C12.5924 58.7947 13.0419 59.5895 13.4824 60.3876C13.7051 60.8161 13.9535 61.2307 14.2261 61.6292C14.9966 62.6573 15.7572 63.6959 16.4989 64.75C17.2361 65.807 17.9323 66.8914 18.5875 68.0031C19.3788 69.3789 20.1295 70.7795 20.8197 72.21C21.5104 73.6401 22.1617 75.0883 22.7737 76.5547C22.9422 77.0175 23.0313 77.5054 23.0374 77.9978C23.0682 78.4736 22.6981 78.936 22.1365 79.3506C21.3179 79.9535 20.2393 80.0967 19.7775 79.6213C19.502 79.3121 19.3111 78.9369 19.2233 78.5321C18.7554 76.7239 17.9325 75.0268 16.8026 73.5396C16.494 73.123 16.1113 72.7247 16.0046 72.223C15.6679 70.6125 14.6492 69.3436 13.999 67.8873C13.7536 67.3467 13.4791 66.8198 13.1767 66.309C12.8854 65.7916 12.5782 65.2834 12.2925 64.762C11.272 62.9042 10.2301 61.0469 9.10146 59.2367C8.65094 58.4603 8.4616 57.5598 8.56131 56.6677C8.57529 56.2375 8.9396 55.9762 9.46873 56.0571L9.97852 56.191C10.0588 56.2079 10.135 56.2404 10.2028 56.2866L10.3997 56.4053C10.6584 56.5642 10.9071 56.7385 11.1447 56.9273C11.3341 57.0808 11.5066 57.254 11.6594 57.444C11.8026 57.6395 11.9378 57.8418 12.0839 58.0344L12.1339 58.0033Z' fill='%23FF822E'/%3E%3C/svg%3E")
			0 0 / contain no-repeat;
		}
	}

	@include _550 {
		font-size: 1.75rem;
		&._min {
			font-size: 1.5rem;
		}
	}
	
	@include _768 {
		font-size: 2rem;
		&._min {
			font-size: 2rem;
		}
	}
	
	@include _992 {
		font-size: 2.25rem;
		&._min {
			font-size: 2.25rem;
		}
		letter-spacing: 1px;
	}

}

.main-text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 130%;
	text-align: center;
	color: var(--text-color);

	@include _550 {
		font-size: 1.25rem;
	}
	
	@include _768 {
		font-size: 1.5rem;
	}
	
	@include _992 {
		font-size: 1.75rem;
	}

}

.txt-center {
	text-align: center;
}
