@use 'sass:math';

html, body {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;
}

body {
	font-family: var(--main-font);
	
	font-weight: 400;
	line-height: 150%;
	color: var(--dark);

	display: flex;
	flex-direction: column;

	//padding-right: var(--popup-padding);

	&._mob-menu-active {
		overflow: hidden;
	}

	&._popup-active {
		overflow: hidden;
	}
	
}

::selection {
	color: var(--white);
	background: rgba(21, 125, 143, 0.733);
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;
}

.container {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: #{$containerMin}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));

		&._min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
		}

		&._large {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}px));
		}
		
	}
}

.section-padding {
	padding-top: 75px;
	padding-bottom: 75px;

	@include _768 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include _992 {
		padding-top: 150px;
		padding-bottom: 150px;
	}

}

.btn {
	display: inline-block;
	text-align: center;
	
	padding: 15px 40px;

	border-radius: 5px;

	font-weight: 500;
	font-size: 1.375rem;

	@include _550 {
		font-size: 1.5rem;
		padding: 20px 40px;
	}
	
	@include _992 {
		font-size: 1.75rem;
	}
	line-height: 107%;
	color: #FFFFFF;

	background: var(--accent);
	color: var(--white);

	transition: background .3s ease;

	&:hover {
		background: var(--accent-hover);
	}
	
	&:active {
		background: var(--accent-active);
	}
}

input, textarea {
	&::placeholder {
		opacity: 1;
		transition: opacity .3s ease;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}
