.hero {

	min-height: var(--height-screen-min, 100vh);

	padding-top: var(--height-header); padding-bottom: var(--height-header);
	@include _992 {
		padding-bottom: 0;
	}

	display: flex;
	align-items: center;

	// .hero__bg

	&__bg {

		position: absolute;
		left: 0; top: 0;
		z-index: -1;
		width: 100%; height: 100%;
		background: #E9FBFA linear-gradient(269.37deg, rgba(233, 251, 250, 0) 49.97%, #69DBC8 135.98%), #E9FBFA linear-gradient(69.37deg, rgba(233, 251, 250, 0) 49.97%, #69DBC8 135.98%);
		user-select: none; pointer-events: none;

		// .hero__bg--element

		&--element {
			position: absolute;
			height: auto;
			min-width: 230px;

			&:nth-child(1) {
				width: 35%;
				& img {
					max-width: 1000px; min-width: 230px;
				}
				left: 0; top: 0;
				transform: translate(-50%,35%);
				@include _992 {
					width: 35%;
					transform: translate(-25%,15%);
				}
				@media (min-width: 1200px) {
					top: 50%;
					transform: translate(-25%,-60%);
				}
			}

			&:nth-child(2) {
				width: 50%;
				right: 0; bottom: 0;
				transform: translate(10%,30%);
				min-width: 300px;
				& img {
					max-width: 1000px; min-width: 300px;
				}
				@include _992 {
					transform: translate(13%,30%);
				}
			}

			& img {
				width: 100%; height: auto;
			}
		}
	}

	// .hero__content

	&__content {
		max-width: 913px;
		padding: 0 20px;
		margin: 0 auto;
		@include _992 {
			margin: 130px auto 30px auto;
		}

		text-align: center;
	}

	// .hero__title

	&__title {
	}

	// .hero__text

	&__text {
		font-weight: 300;
		padding-top: 15px;
		@include _992 {
			padding-top: 30px;
		}
	}

	// .hero__btn

	&__btn {
		margin-top: 40px;
		
		@include _992 {
			margin-top: 60px;
		}
	}
}
