.statistics {

	padding-top: 30px;

	display: flex;
	flex-direction: column;
	@include _768 {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 41px; margin-top: 50px;
		padding-top: 0;
	}
	margin-top: 15px; margin-bottom: 31px;
	

	background: #0A1139;
	overflow: hidden;

	// .statistics__content

	&__content {
		
		flex: 0 1 60%;
		padding: 45px 0px 5px 0;
		@include _768 {
			padding: 35px 100px 35px 30px;
			align-self: center;
		}
	}

	// .statistics__title

	&__title {
		text-transform: uppercase;
		color: var(--aqua);
		text-align: left;
		@include _768 {
			text-align: left;
		}
	}

	// .statistics__list

	&__list {
		padding-top: 30px;

		display: flex;
		flex-direction: column;

		@include _550 {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 20px;
		}

		margin: -10px;

		& li {
			padding: 10px;

			color: var(--white);

			& b {
				display: block;
				font-size: 2.25rem;
				font-weight: 500;
				line-height: 119%;
				color: var(--aqua);
			}
			& span {
				line-height: 119%;
				font-weight: 500;
			}
		}
	}

	// .statistics__image

	&__image {
		align-self: center;
		max-width: 500px; width: 100%;
		margin-top: 45px;
		padding-left: 35px; padding-right: 35px;
		@include _768 {
			margin-top: 0;
			flex: 0 1 24%;
			max-width: none;
			align-self: self-end;
			width: auto;
			margin-right: 20px;
			padding-left: 0; padding-right: 0;
		}
		@include _992 {
			padding-top: 70px;
			margin-right: 20px;
		}

		display: flex;
		align-items: flex-end;

		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 50%; top: 0%;
			transform: translate(-48%,0%);
			width: 170%; height: 170%;
			@include _768 {
				transform: translate(-48%,-10%);
				width: 250%; height: 250%;
			}
			border-radius: 50%;
			background: radial-gradient(circle, rgba(72,229,218,1) 30%, rgba(255,255,255,0) 60%);
			opacity: .8;
			filter: blur(20px);
		}

		&--bg {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			user-select: none; pointer-events: none;

			
		}

		&--bg:nth-child(1) &--decor {
			position: absolute;
			left: 0; top: 50%;
			transform: translate(-12%,-55%);
			@include _768 {
				transform: translate(-32%,-35%);
			}
			& img {
				@include _768 {
					width: 40%;
				}
				width: 30%; height: auto;
			}
		}

		&--bg:nth-child(3) &--decor {
			&:nth-child(1) {
				position: absolute;
				right: 0; top: 0;
				transform: translate(25px,-100%);
				@include _768 {
					top: 5%;
					transform: translate(10%,0%);
				}
				width: 100%;
				text-align: right;
				& img {
					width: 20%; height: auto;
					@include _768 {
						width: 13%;
					}
					min-width: 20px;
				}
			}
			&:nth-child(2) {
				position: absolute;
				right: 0; bottom: 10%;
				transform: translate(0%,15%);
				@include _768 {
					transform: translate(10%,15%);
				}
				width: 100%;
				text-align: right;
				& img {
					width: 40%; height: auto;
					min-width: 30px;
					@include _768 {
						width: 50%;
					}
				}
			}
		}

		// .statistics__image--body

		&--body {
			width: 100%; padding-top: 118%;
			position: relative;

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: contain;
				object-position: center bottom;
			}
		}
	}
}
