.tariffs {

	padding-top: 70px; padding-bottom: 70px;
	margin-top: 34px; margin-bottom: 30px;

	@include _768 {
		padding-top: 90px; padding-bottom: 120px;
		margin-top: 55px; margin-bottom: 45px;
	}

	background: var(--primary-color-light);

	// .tariffs__title

	&__title {
	}

	// .tariffs__list

	&__list {
		padding-top: 35px;

		display: grid;
		grid-template-columns: 100%;
		@include _550 {
			grid-template-columns: repeat(auto-fill, minmax(300px, auto));
		}

		gap: 10px;

		@include _992 {
			padding-top: 60px;
			gap: 48px;
		}
	}

	// .tariffs__card

	&__card {

		background: #FFFFFF;
		border-radius: 10px;

		padding: 35px 15px;
		@include _550 {
			padding: 35px;
		}
		text-align: center;

		// .tariffs__card--name

		&--name {

			font-weight: 600;
			font-size: 1.375rem;
			line-height: 100%;
			text-transform: uppercase;
			color: #2F2F2F;
		}

		// .tariffs__card--price

		&--price {
			display: block;

			padding-top: 20px;
			font-size: 2.375rem;
			line-height: 100%;
			color: #1F9CB3;
		}

		// .tariffs__card--text

		&--text {
			display: block;
			padding-top: 20px;

			font-size: 1.125rem;
			line-height: 115%;
			color: var(--title-color);
			color: #7F7D84;
		}

		&--btn {
			margin-top: 40px;
		}
	}

	// .tariffs__try

	&__try {

		position: relative;
		padding-bottom: 100px;

		// .tariffs__try--body

		&--body {
			background: #FFFADE;
			border-radius: 10px;

			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			text-align: center;

			@include _768 {
				text-align: left;
				flex-direction: row;
				padding: 51px 40px;
				margin-top: 30px;
			}

			padding: 35px 34px;
			margin-top: 10px;
		}

		// .tariffs__try--text

		&--text {
			color: var(--title-color);
			font-weight: 600;
			font-size: 1.375rem;
			line-height: 130%;
			
			@include _768 {
				padding-right: 15px;
			}
		}

		// .tariffs__try--btn

		&--btn {
			text-transform: uppercase;
			margin-top: 15px;
			@include _768 {
				margin-top: 0;
			}
		}

		// .tariffs__try--decor-text

		&--decor-text {
			position: absolute;
			right: 50%; bottom: 20px;
			transform: translate(100%,0);
			@include _768 {
				right: 0;
				transform: translate(0,0);
			}
			z-index: 2;

			& span {
				padding: 5px 15px 10px 15px;
				transform: rotate(-10deg);
			}

			&::before {
				content: '';
				position: absolute;
				right: 0; top: 0;
				width: 100%; height: 195%;
				transform: translate(5%,-10%);
				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 193 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M43.6164 78.7853C38.0419 76.2289 12.3254 89.9072 9.65371 89.4861C7.44738 88.6375 0.321049 62.7435 0.481309 58.5022C0.538052 56.9838 1.08039 56.5461 2.79456 56.6535C4.94724 56.9103 27.4198 47.6807 35.0865 44.6152C35.7772 45.2774 36.0481 42.2454 36.6124 43.1331C37.732 44.6492 81.6594 29.1144 90.9547 26.2981C93.5156 25.51 91.9148 27.6013 94.7851 26.1984C100.864 23.1907 115.371 20.8178 119.879 18.1783C123.514 16.0471 124.325 15.8596 128.371 15.8088C132.469 15.7512 152.691 9.61212 154.579 7.32581C155.017 6.69374 155.5 6.78493 155.656 7.36293C155.656 7.36293 170.308 4.71004 170.463 5.07992C170.696 5.64754 171.241 5.80851 171.541 5.32513C172.142 4.54091 186.95 -1.0244 187.64 0.601691C189.576 5.26359 192.607 26.1877 192.129 31.5658C191.619 37.2869 180.129 33.5226 172.933 38.5302C129.2 48.9076 137.593 46.5776 128.519 51.4218C127.139 49.9148 124.904 55.0609 121.902 52.5745C120.694 51.5653 114.375 52.9905 113.316 54.6439C112.886 55.3271 104.442 57.0908 95.8773 59.3136C87.316 61.5621 78.637 64.2952 77.5415 66.4486C70.8125 65.2201 48.6945 76.3033 43.6233 78.8365L43.6164 78.7853Z' fill='%23FEEF38'/%3E%3C/svg%3E%0A")
				top right / auto 100% no-repeat;
				z-index: -1;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0; top: 0;
				width: 60px; height: 90px;
				transform: translate(-70%,-70%);
				background: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.6877 21.8875C8.43183 24.2704 9.26546 26.6309 10.2298 28.9438C11.1931 31.2618 12.2945 33.52 13.5282 35.7061C14.8427 38.0342 16.3249 40.2636 17.9631 42.3765C20.146 45.2226 22.7118 47.7533 25.5877 49.8969C27.0403 50.9716 28.5852 51.9157 30.2043 52.7182C31.0372 53.1398 31.9045 53.4897 32.7969 53.7639C33.7476 54.0594 34.7407 54.1956 35.7359 54.1673C36.283 54.1486 36.8242 54.048 37.3414 53.8689C37.9213 53.6704 38.4457 53.3369 38.8713 52.8958C39.3092 52.4333 39.6147 51.8617 39.7561 51.2407C39.8855 50.6676 39.8978 50.0742 39.7923 49.4962C39.6976 48.9617 39.5276 48.4433 39.2872 47.9565C39.0608 47.5049 38.7926 47.0754 38.4863 46.6737C37.9264 45.9248 37.3054 45.2235 36.6298 44.577C35.2954 43.2982 33.7948 42.205 32.1685 41.3269C30.536 40.4448 28.7847 39.803 26.9689 39.4211C24.7092 38.9391 22.3748 38.9246 20.1093 39.3787C19.8019 39.4454 19.4989 39.5313 19.2021 39.6358C18.8953 39.7437 18.598 39.8769 18.3133 40.0339C17.7271 40.3427 17.1991 40.7512 16.7531 41.241C16.3024 41.7403 15.9501 42.3201 15.7146 42.95C15.4912 43.5511 15.3579 44.1818 15.3189 44.8218C15.2599 46.0126 15.3995 47.2048 15.7319 48.3497C15.881 48.9018 16.0591 49.4456 16.2654 49.979C16.3678 50.2438 16.4737 50.5067 16.5878 50.7655C16.7003 51.026 16.8175 51.2661 16.9324 51.5173C17.8527 53.5055 18.9025 55.4311 20.0751 57.2818C24.8009 64.675 31.2976 70.7715 38.9761 75.0182C39.2604 75.1828 39.5537 75.3319 39.8455 75.4844C40.1384 75.6345 40.4278 75.7917 40.7247 75.9345C41.3194 76.2184 41.9102 76.5099 42.516 76.767C43.7164 77.305 44.9438 77.7688 46.1642 78.1999C47.1391 78.5405 48.1341 78.8208 49.1435 79.039C49.5536 79.1218 49.919 79.1895 50.2453 79.2377C50.5737 79.2788 50.8613 79.3059 51.1123 79.3207C51.8431 79.3638 51.8711 79.2206 51.3098 78.9429C51.1694 78.8735 50.9922 78.7957 50.7796 78.7104C50.5667 78.6273 50.3204 78.5312 50.0406 78.4221C49.7614 78.314 49.4492 78.1987 49.1039 78.0762C48.7613 77.9468 48.3887 77.8043 47.9845 77.6584C45.8595 76.8719 43.7793 75.9696 41.7531 74.9554C37.1229 72.639 32.8861 69.6086 29.1979 65.9752C25.512 62.3699 22.4334 58.1922 20.0812 53.604C19.9235 53.2874 19.765 52.9695 19.6058 52.6501C19.4562 52.3266 19.3062 52.0021 19.1558 51.6767C19.0006 51.354 18.8693 51.0197 18.7254 50.6915C18.5837 50.3611 18.4387 50.0324 18.3182 49.7135C17.8212 48.4828 17.5061 47.1862 17.3828 45.8646C17.3084 44.8794 17.4518 43.9271 17.8838 43.1827C18.1048 42.8098 18.3966 42.4837 18.7427 42.2228C18.9237 42.087 19.1158 41.9668 19.3171 41.8635C19.5175 41.7545 19.7277 41.6646 19.9449 41.595C20.1726 41.5207 20.4048 41.461 20.6401 41.4164L21.4124 41.2916C21.6732 41.2633 21.9338 41.232 22.1952 41.2073C22.4578 41.195 22.7198 41.1724 22.9829 41.1673C24.0396 41.1449 25.0958 41.232 26.1346 41.4271C28.2263 41.8242 30.2267 42.6042 32.0352 43.7278C32.9409 44.2908 33.7988 44.9273 34.6004 45.6307C35.3953 46.3217 36.1191 47.0906 36.7609 47.9258L36.9317 48.1587L37.0167 48.2754L37.0895 48.3844C37.1854 48.5275 37.2733 48.6758 37.3527 48.8287C37.5062 49.1215 37.6207 49.433 37.6934 49.7555C37.7602 50.046 37.7728 50.3462 37.7308 50.6413C37.7124 50.7721 37.6771 50.9 37.6259 51.0217C37.5804 51.1374 37.5183 51.2459 37.4414 51.3436C37.3665 51.4445 37.2773 51.534 37.1766 51.6093C37.0694 51.693 36.9527 51.7638 36.8291 51.8204C36.5425 51.9466 36.2379 52.0269 35.9264 52.0584C35.5758 52.0948 35.2224 52.0954 34.8718 52.0601C34.504 52.0248 34.1393 51.9624 33.7807 51.8734C33.0295 51.6794 32.2977 51.4168 31.5946 51.089C31.232 50.9249 30.8707 50.7483 30.5088 50.5624C30.1505 50.3769 29.7958 50.1846 29.4446 49.9855C28.0392 49.1767 26.6981 48.2608 25.4334 47.2459C23.1657 45.4206 21.1171 43.3388 19.3286 41.042C17.5294 38.7307 15.9402 36.2634 14.58 33.6695C13.8943 32.3716 13.2548 31.0491 12.6614 29.702C12.3671 29.0281 12.0788 28.3517 11.8126 27.6649L11.4087 26.6366L11.0257 25.5996C10.7646 24.9103 10.5384 24.2074 10.2945 23.5112C10.0712 22.8075 9.83288 22.1088 9.62458 21.3995C9.18682 19.9882 8.79808 18.56 8.41928 17.1287C7.23208 12.5542 6.2052 8.19952 4.97351 4.37934C4.40874 2.62256 3.92526 2.83792 4.18572 4.95503C4.59029 7.9459 5.09717 11.0753 5.73549 14.1752C6.25575 16.7246 6.95998 19.3122 7.71571 21.8545C7.706 21.8652 7.69713 21.8751 7.6877 21.8875Z' fill='%233848D0'/%3E%3Cpath d='M14.5874 16.7598C13.4802 15.6702 12.4591 14.4965 11.5333 13.2491C11.2964 12.9111 11.0551 12.5741 10.8221 12.2309C10.6005 11.8793 10.3831 11.5246 10.1767 11.1651C9.31085 9.59232 8.55992 7.93936 7.83053 6.26201L6.74771 3.73116C6.38701 2.88575 6.03285 2.03178 5.64958 1.19251L5.64394 1.18013C5.51208 0.891396 5.27091 0.666869 4.9735 0.555942C4.67609 0.445015 4.3468 0.456778 4.05806 0.588641C3.87634 0.672868 3.71839 0.800908 3.59839 0.961264C3.47839 1.12162 3.4001 1.30927 3.37055 1.50736L3.00148 4.07942C2.5881 6.84966 2.17592 9.62261 1.78106 12.4038C1.38726 15.1851 1.00999 17.9739 0.70511 20.7844C0.624199 21.6362 0.589783 22.4918 0.602016 23.3473C0.60045 24.1595 0.811825 24.7032 1.10002 25.0465C1.52295 25.5455 2.04258 25.1063 2.26312 24.0017C2.40298 23.2721 2.49934 22.5349 2.5517 21.7939C2.85239 18.4017 3.37103 15.0324 4.10441 11.7068C4.30343 10.7856 4.54536 9.83171 4.61961 8.91654C4.81275 6.54419 5.24467 4.19352 5.6151 1.83721L3.57855 2.1186C3.79894 2.62583 4.02684 3.129 4.27107 3.62436C5.22648 5.58242 6.0831 7.60841 7.10069 9.57732C8.0022 11.3534 9.03989 13.057 10.2044 14.6728C11.3857 16.2774 12.7048 17.7759 14.1467 19.1511C14.4335 19.4225 14.7228 19.683 15.0148 19.9297C15.3145 20.1669 15.6177 20.3888 15.9241 20.5953C16.5147 20.9984 17.1527 21.3274 17.8235 21.5749C18.1234 21.6842 18.3389 21.643 18.4314 21.4985C18.521 21.3574 18.4992 21.1005 18.2931 20.8147C17.9836 20.4311 17.6471 20.0612 17.3161 19.6837C16.9877 19.304 16.6466 18.9329 16.3019 18.5694C16.0295 18.2616 15.7362 17.9687 15.4366 17.6795L15.2114 17.4628L14.9951 17.2392C14.8518 17.0891 14.7087 16.9394 14.5657 16.7899L14.5874 16.7598Z' fill='%233848D0'/%3E%3C/svg%3E%0A")
				0 0 / contain no-repeat;
			}
		}
	}
}
